body {
  #ccc;
}

.black {
  background: #000;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 12pt;
}

.white {
  background: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 12pt;
}
